{% extends "base.html" %}
{% load static %}

{% block head %}
<title>New Password | My Audio Blogs</title>
<meta name="title" content="Login | My Audio Blogs">
<meta content="New Password page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." name="description" />
<meta content="New Password, My Audio Blogs, Blogs, Audio Blogs, audio with blogs, best blogs, audible blogs" name="keywords" />

<meta name="og:title" content="New Password | My Audio Blogs" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://www.myaudioblogs.co/" />
<meta name="og:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg" />
<meta name="og:description" content="New Password page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." />

<meta name="twitter:title" content="New Password | My Audio Blogs">
<meta name="twitter:description" content="New Password page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio.">
<meta name="twitter:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.myaudioblogs.co/">
{% endblock %}

{% block body %}
<div class="container login-form">
    <div class="row">
        <div class="col-lg-6">
            {% if validlink %}
            <h1>Please enter your new password.</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <p>{{ form.new_password1.errors }}</p>
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </div>
                <div>
                    <p>{{ form.new_password2.errors }}</p>
                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>        
                <br>
                <button type="submit" class="btn btn-success">Change my password</button>
            </form>
            {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <img src="{% static 'image/svg/password.svg' %}" alt="password">
            <div class="link-wrapper">
                <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
                <p><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}