{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Forgot Password | My Audio Blogs</title>
<meta name="title" content="Forgot Password | My Audio Blogs">
<meta content="Forgot Password page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." name="description" />
<meta content="Forgot Password, My Audio Blogs, Blogs, Audio Blogs, audio with blogs, best blogs, audible blogs" name="keywords" />

<meta name="og:title" content="Forgot Password | My Audio Blogs" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://www.myaudioblogs.co/" />
<meta name="og:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg" />
<meta name="og:description" content="Forgot Password page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." />

<meta name="twitter:title" content="Forgot Password | My Audio Blogs">
<meta name="twitter:description" content="Forgot Password page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio.">
<meta name="twitter:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.myaudioblogs.co/">
{% endblock %}

{% block body %}
  <div class="container login-form">
    <div class="row">
      <div class="col-lg-6">
        <div class="link-wrapper pt-50">
          <p>We've emailed <i class="fa fa-envelope-o" aria-hidden="true"></i> you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
        </div>
        <div class="link-wrapper">
          <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
          <p><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'image/svg/email_check.svg' %}" alt="email">
      </div>
    </div>
  </div>
{% endblock %}