{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block head %}
<title>Register | My Audio Blogs</title>
<meta name="title" content="Register | My Audio Blogs">
<meta content="Register page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." name="description" />
<meta content="Login, Register, My Audio Blogs, Blogs, Audio Blogs, audio with blogs, best blogs, audible blogs" name="keywords" />

<meta name="og:title" content="Register | My Audio Blogs" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://www.myaudioblogs.co/" />
<meta name="og:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg" />
<meta name="og:description" content="Register page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." />

<meta name="twitter:title" content="Register | My Audio Blogs">
<meta name="twitter:description" content="Login page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio.">
<meta name="twitter:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.myaudioblogs.co/">
{% endblock %}

{% block body %}
<div class="container login-form">
  <div class="row">
    <div class="col-lg-6">
  <h1>Join Us</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <br>
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Sign up</button>
    </form>
</div>
<div class="col-lg-6">
  <img src="{% static 'image/svg/register.svg' %}" alt="register">
  <div class="link-wrapper">
    <!-- <p><a href="{% provider_login_url 'google' %}"><i class="fa fa-google" aria-hidden="true"></i> Sign Up with Google</a></p> -->
    <p><a href="{% url 'password_reset' %}"><i class="fa fa-key" aria-hidden="true"></i> Forgot password</a></p>
    <p><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></p>
  </div>
</div>
</div>
</div>  
{% endblock %}