{% extends 'base.html' %}

{% block head %}
<title>Advertisement | My Audio Blogs</title>
<meta name="title" content="Advertisement | My Audio Blogs">
<meta content="Advertisement page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." name="description" />
<meta content="Advertisement, My Audio Blogs, Blogs, Audio Blogs, audio with blogs, best blogs, audible blogs" name="keywords" />

<meta name="og:title" content="Advertisement | My Audio Blogs" />
<meta name="og:type" content="website" />
<meta name="og:url" content="https://www.myaudioblogs.co/" />
<meta name="og:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg" />
<meta name="og:description" content="Privacy page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio." />

<meta name="twitter:title" content="Advertisement | My Audio Blogs">
<meta name="twitter:description" content="Privacy page of My Audio Blogs. My Audio Blogs is a platform that allows users to Discover Blogs with Audio.">
<meta name="twitter:image" content="https://www.myaudioblogs.co/static/image/logo/favicon.svg">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.myaudioblogs.co/">
<script data-ad-client="ca-pub-2254512609263143" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Just ads not much!!</h2>
</div>
{% endblock %}